.layout-section {
	display: block;
	position: relative;
	padding: 50px 0;
}
.layout-row{
	position: relative;
	padding: 50px 0;
}
.column-layout .column-block{
	height: 100px;
	background: #ccc;
}
.outline{
	display: block;
	position: absolute;
	z-index: 11;
	opacity: 1;
}
.outline-top{
	top: 0;
	right: 0;
	left: 0;
	height: 3px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.outline-right{
	top: 0;
	right: 0;
	bottom: 0;
	width: 3px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.outline-bottom{
	right: 0;
	bottom: 0;
	left: 0;
	height: 3px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.outline-left{
	top: 0;
	left: 0;
	bottom: 0;
	width: 3px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.toolbar{
	top: 0;
	left: 0;
	position: absolute;
	z-index: 12;
	opacity: 0;
}
.setting-btn-group{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 3px;
	line-height: 1rem;
}
.setting-btn-group a{
}
.setting-btn-group i{
	color: white;
	margin: 15px 10px 15px 15px;
}
.setting-btn-group a:last-child i{
	color: white;
	margin-right: 15px;
}
/*
+號
*/
.toolbar-bottom{
    position: absolute;
    bottom: -16px;
    left: 50%;
    margin-left: -15px;
    z-index: 12;
    line-height: 1rem;
	border-radius: 100px;
}
.btn-modal {
    outline: none;
    z-index: 1;
    position: relative;
    display: inline-block;
    max-height: 40px;
    border: 0;
    border-radius: 100px;
    margin: 0;
    padding: 12px;
    box-sizing: border-box;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
    color: #4c5866;
    font-size: .875rem;
    line-height: 1rem;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    text-transform: none;
}
.btn-modal-section{
	background: #6D5CAE;
	color: white;
}
.btn-modal-row{
	background: #48B0F7;
	color: white;
}
.btn-modal-col{
	background: #3B4752;
	color: white;
}


/*
.toolbar-bottom{
    position: absolute;
    bottom: -16px;
    left: 50%;
    margin-left: -15px;
    z-index: 12;
    line-height: 1rem;
	border-radius: 100px;
}
.toolbar-bottom i{
	color: white;
}
.toolbar-bottom .btn-insert {
    outline: none;
    z-index: 1;
    position: relative;
    display: inline-block;
    background: transparent;
    max-height: 40px;
    border: 0;
    border-radius: 100px;
    margin: 0;
    padding: 12px;
    box-sizing: border-box;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
    color: #4c5866;
    font-size: .875rem;
    line-height: 1rem;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    text-transform: none;
}
.btn-insert {
    outline: none;
    z-index: 1;
    position: relative;
    display: inline-block;
    background: transparent;
    max-height: 40px;
    border: 0;
    border-radius: 100px;
    margin: 0;
    padding: 12px;
    box-sizing: border-box;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
    color: #4c5866;
    font-size: .875rem;
    line-height: 1rem;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    text-transform: none;
}
.btn-insert-section{
	background: #6D5CAE;
	color: white;
}
.layout-row .btn-insert-row{
	background: #48B0F7;
	color: white;
}
.layout-col .btn-insert{
	background: #3B4752;
	color: white;
}
/*
outline
*/
.layout-section .outline{
	background: #6D5CAE;
}
.layout-section .toolbar{
	background: #6D5CAE;
}
.layout-section .toolbar .setting-btn-group{
	box-shadow: 0 5px 10px rgba(109, 92, 174, .15);
}
.layout-row .outline{
	background: #48B0F7;
}
.layout-row .toolbar{
	background: #48B0F7;
}
.layout-row .toolbar .setting-btn-group{
	box-shadow: 0 5px 10px rgba(72, 176, 247, .15);
}

.layout-col .outline{
	background: #3B4752;
}
.layout-col .toolbar{
	background: #3B4752;

    top: 100px;
    left: 50%;
    margin-left: -80px;
}
.layout-col .toolbar .setting-btn-group{
	box-shadow: 0 5px 10px rgba(59,71,82,.15);
}

/*
padding block
*/
.padding-block {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
}
.padding-block-top {
	top: 3px;
	bottom: auto;
}
.padding-block-bottom {
	bottom: 3px;
	top: auto;
}
.padding-block-right {
	right: 3px;
	left: auto;
}
.padding-block-left {
	left: 3px;
	right: auto;
}
.padding-block-top,
.padding-block-bottom {
	cursor: ns-resize;
}
.padding-block-right,
.padding-block-left {
	cursor: ew-resize;
}
.padding-block-value {
	display: block;
	opacity: 0;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	position: absolute;
	height: 12px;
	font-weight: 700;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -6px;
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
.padding-handle {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.padding-handle-bottom, 
.padding-handle-top {
	height: 19px;
	margin-top: -8px;
	cursor: ns-resize;
}
.padding-handle-left, 
.padding-handle-right {
	width: 19px;
	margin-left: -8px;
	cursor: ew-resize;
}
.layout-section .padding-block-value {
	color: #6D5CAE;
}
.layout-section .padding-block {
	background: rgba(109, 92, 174, .2);
}
.layout-row .padding-block-value {
	color: #48B0F7;
}
.layout-row .padding-block {
	background: rgba(72, 176, 247, .2);
}
		
		



/*
modal
*/
.modal-backdrop.in {
    opacity: 0.30;
}
.modal.fade.stick-up.in .modal-dialog {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -ms-transform: translate(0,0);
}
.modal.fade.stick-up .modal-dialog {
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
    -ms-transform: translate(0,-100%);
    margin-top: -5px;
}
@media (min-width: 768px){
	.modal.stick-up .modal-dialog {
		margin: -5px auto;
	}
}
.modal .close{
	color: white;
	opacity: 1;
	text-shadow: none;
}
.modal-primary .modal-header {
    color: #fff;
    background-color: #5B4D91;
    border: 2px solid #5B4D91;
    padding: 15px;
}
.modal-complete .modal-header {
    color: #fff;
    background-color: #48B0F7;
    border: 2px solid #48B0F7;
    padding: 15px;
}
.modal-master .modal-header {
    color: #fff;
    background-color: #3B4752;
    border: 2px solid #3B4752;
    padding: 15px;
}
.modal-content .btn-group{
	width: 100%;
	display: table;
	table-layout: fixed;
}
.modal-content .btn-group .btn {
	display: table-cell;
	width: auto;
	text-align: center;
	float: none;
}

		
/*
	popover-x
*/
.popover{
	max-width: 400px;
}
.popover .close{
	color: white;
	opacity: 1;
	text-shadow: none;
	margin-top: -3px;
}
.popover-primary > .popover-title {
    color: #fff;
    background-color: #5B4D91;
    border: 2px solid #5B4D91;
    padding: 15px;
}
#popover_section{
	width: 400px;
}
.popover-content .btn-group{
	width: 100%;
	display: table;
	table-layout: fixed;
}
.popover-content .btn-group .btn {
	display: table-cell;
	width: auto;
	text-align: center;
	float: none;
}
/*
.popover-content ul {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.popover-content ul li {
  display: table-cell;
  width: auto;
  text-align: center;
}
.popover-content ul li a {
	width: 100%;
}
*/
		
		
		
		
		/*
		element.style {
    opacity: 1;
}
.et-fb-row--no-module .et-fb-outline {
    z-index: 10;
}

.et-fb-outline--top {
    top: 0;
    right: 0;
    left: 0;
    height: 3px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.et-fb-outline--row {
    background: #29c4a9;
}
.et-fb-outline {
    display: block;
    position: absolute;
    z-index: 11;
    -webkit-animation: et-fb-outline-appearance .3s;
    animation: et-fb-outline-appearance .3s;
}
		
		
		element.style {
    opacity: 1;
}
.et-fb-row--no-module .et-fb-outline {
    z-index: 10;
}
.et-fb-outline--right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 3px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.et-fb-outline--row {
    background: #29c4a9;
}
.et-fb-outline {
    display: block;
    position: absolute;
    z-index: 11;
    -webkit-animation: et-fb-outline-appearance .3s;
    animation: et-fb-outline-appearance .3s;
}
		
		element.style {
    opacity: 1;
}
.et-fb-row--no-module .et-fb-outline {
    z-index: 10;
}
.et-fb-outline--bottom {
    right: 0;
    bottom: 0;
    left: 0;
    height: 3px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.et-fb-outline--row {
    background: #29c4a9;
}
.et-fb-outline {
    display: block;
    position: absolute;
    z-index: 11;
    -webkit-animation: et-fb-outline-appearance .3s;
    animation: et-fb-outline-appearance .3s;
}
		
		element.style {
    opacity: 1;
}
.et-fb-row--no-module .et-fb-outline {
    z-index: 10;
}
.et-fb-outline--left {
    top: 0;
    left: 0;
    bottom: 0;
    width: 3px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.et-fb-outline--row {
    background: #29c4a9;
}
.et-fb-outline {
    display: block;
    position: absolute;
    z-index: 11;
    -webkit-animation: et-fb-outline-appearance .3s;
    animation: et-fb-outline-appearance .3s;
}
		
		
		
		
		
		
		.et-fb-component-settings--row, .et-fb-component-settings--section {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9999;
}
		
		
		.et-fb-button-group--elevate {
    box-shadow: 0 5px 10px rgba(43,135,218,.15);
}
.et-fb-button-group--success {
    background: #29c4a9;
    color: #fff;
}
.et-fb-button-group {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px;
    line-height: 1rem;
}
		
		.et-fb-button-group {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px;
    line-height: 1rem;
}
		
		
		*/
		
		
		
		