
.wizard, .tabcontrol {
    display: block;
    width: 100%;
    overflow: hidden
}
.wizard a, .tabcontrol a {
    outline: 0
}
.wizard ul, .tabcontrol ul {
    list-style: none !important;
    padding: 0;
    margin: 0
}
.wizard ul > li, .tabcontrol ul>li {
    display: block;
    padding: 0
}
.wizard > .steps .current-info, .tabcontrol > .steps .current-info {
    position: absolute;
    left: -999em
}
.wizard>.content>.title, .tabcontrol>.content>.title {
    position: absolute;
    left: -999em
}
.wizard>.steps {
    position: relative;
    display: block;
    width: 100%
}
.wizard.vertical>.steps {
    display: inline;
    float: left;
    width: 30%
}
.wizard > .steps .number {
    font-size: 1.429em
}
.wizard>.steps>ul>li {
    width: 25%
}
.wizard>.steps>ul>li, .wizard>.actions>ul>li {
    float: left
}
.wizard.vertical>.steps>ul>li {
    float: none;
    width: 100%
}
.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}
.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
    background: #eee;
    color: #aaa;
    cursor: default
}
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background: #2184be;
    color: #fff;
    cursor: default
}
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background: #9dc8e2;
    color: #fff
}
.wizard > .steps .error a, .wizard > .steps .error a:hover, .wizard > .steps .error a:active {
    background: #ff3111;
    color: #fff
}
.wizard>.content {
    background: #eee;
    display: block;
    margin: 0.5em;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    width: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}
.wizard.vertical>.content {
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%
}
.wizard>.content>.body {
    float: left;
    position: absolute;
    width: 95%;
    padding: 2.5%
}
.wizard > .content > .body ul {
    list-style: disc !important
}
.wizard > .content > .body ul>li {
    display: list-item
}
.wizard>.content>.body>iframe {
    border: 0 none;
    width: 100%;
    height: 100%
}
.wizard > .content > .body input {
    display: block;
    border: 1px solid #ccc
}
.wizard > .content > .body input[type="checkbox"] {
    display: inline-block
}
.wizard > .content > .body input.error {
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11
}
.wizard > .content > .body label {
    display: inline-block;
    margin-bottom: 0.5em
}
.wizard > .content > .body label.error {
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em
}
.wizard>.actions {
    position: relative;
    display: block;
    text-align: right;
    width: 100%
}
.wizard.vertical>.actions {
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%
}
.wizard>.actions>ul {
    display: inline-block;
    text-align: right
}
.wizard>.actions>ul>li {
    margin: 0 0.5em
}
.wizard.vertical>.actions>ul>li {
    margin: 0 0 0 1em
}
.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    background: #2184be;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}
.wizard > .actions .disabled a, .wizard > .actions .disabled a:hover, .wizard > .actions .disabled a:active {
    background: #eee;
    color: #aaa
}
.wizard>.loading {
}
.wizard > .loading .spinner {
}


.wizard__body {
    list-style: none
}
.wizard__step:not(.active) {
    display: none
}
.wizard__step .wizard__title {
    display: none
}
.wizard__controls {
    overflow: hidden
}
.wizard__controls .wizard-prev {
    float: left
}
.wizard__controls .wizard-next {
    float: right
}
.wizard__controls .wizard-prev:hover, .wizard__controls .wizard-next:hover {
    transform: none !important
}
.wizard__controls .wizard-prev.inactive, .wizard__controls .wizard-next.inactive {
    pointer-events: none;
    opacity: .3;
    cursor: not-allowed
}


.wizard {
    transition: opacity .3s ease;
    opacity: 0
}
.wizard.active {
    opacity: 1
}
.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    background: #4a90e2;
    transition: all .3s ease;
    padding: 0.46428571em 1.85714286em;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff
}
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background: none;
    color: #252525
}
.wizard > .steps a {
    position: relative
}
.wizard > .steps a:before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    background: #eee;
    display: block;
    bottom: 0;
    transition: all .2s ease
}
.wizard > .steps a:after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 7px;
    height: 2px;
    background: #eee;
    left: 0;
    transition: all .2s ease
}
.wizard > .steps li:first-child a:after {
    width: 50%;
    left: 50%
}
.wizard > .steps li:last-child a:after {
    width: 50%
}
.wizard > .steps li.current a:after, .wizard > .steps li.current a:before {
    background-color: #4a90e2
}
.wizard > .steps a, .wizard > .steps a:hover {
    padding-bottom: 2.78571429em
}
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active, .wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
    background: none;
    color: #252525
}
.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
    margin: 0
}
.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none
}
.wizard>.steps>ul, .wizard>.actions {
    text-align: center
}
.wizard>.steps>ul>li, .wizard>.actions>ul>li {
    float: none;
    display: inline-block
}
.wizard>section {
    padding: 0
}
.wizard>.content {
    background: #fafafa;
    margin-top: 1.85714286em;
    margin-bottom: 1.85714286em;
    border: 1px solid #ececec
}
.wizard>.content>.body {
    padding: 1.85714286em
}
.wizard > .steps .number {
    font-size: 1em
}

@media all and (max-width: 767px) {
.wizard > .steps .number {
    display: block
}
.wizard>.content {
    min-height: 25em
}
.wizard .pos-vertical-center {
    top: 50%;
    transform: translateY(-50%);
    -wekbit-transform: translateY(-50%)
}
}
.wizard.bg--white {
    background: none !important
}
.wizard.bg--white>.content {
    background: #fff
}
.wizard > .content img {
    max-height: 240px
}

@media all and (max-width: 767px) {
.wizard > .content img {
    max-height: 120px;
    margin-bottom: 0.92857143em
}
}