/*
.dd3-handle {
	background: transparent;
	text-indent: 9999px;
}
.dd-handle {
	border-color: rgba(230,230,230,0.7);
	color: #626262;
}
.dd3-handle {
	position: absolute;
	margin: 0;
	left: 0;
	top: 0;
	cursor: pointer;
	width: 30px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	border: 1px solid #aaa;
	background: #ddd;
	background: -webkit-linear-gradient(top,#ddd 0%,#bbb 100%);
	background: -moz-linear-gradient(top,#ddd 0%,#bbb 100%);
	background: linear-gradient(top,#ddd 0%,#bbb 100%);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.dd-handle {
	display: block;
	height: 30px;
	margin: 5px 0;
	padding: 5px 10px;
	color: #6F7B8A;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid #e5e9ec;
	background: #fff;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.dd3-content {
	background: #fff;
	border-color: rgba(230,230,230,0.7);
	color: #626262;
}
.dd3-content {
	display: block;
	height: 30px;
	margin: 5px 0;
	padding: 5px 10px 5px 40px;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid #ccc;
	background: #fafafa;
	background: -webkit-linear-gradient(top,#fafafa 0%,#eee 100%);
	background: -moz-linear-gradient(top,#fafafa 0%,#eee 100%);
	background: linear-gradient(top,#fafafa 0%,#eee 100%);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
*/
.sortable li>div:hover i{
	color:white;
}
.sortable li>div {  
		color:#000;
		-webkit-transition: background 0.5s linear;
		-moz-transition: background 0.5s linear;
		-ms-transition: background 0.5s linear;
		-o-transition: background 0.5s linear;
		transition: background 0.5s linear;
}
.sortable li>div:hover { background-color: #6d5cae; color:#fff;  }
.sortable_info > div{
	padding-bottom:10px;
}
.sortable_icon {
	font-size: 18px;
	color: #666666;
	width: 24px;
	height: 24px;
	display: block;
	margin: 0 3px;
}