/* CSS Document */
.sortable li>div:hover i{
	color:white;
}
.sortable li>div {  
        color:#000;
        -webkit-transition: background 0.5s linear;
        -moz-transition: background 0.5s linear;
        -ms-transition: background 0.5s linear;
        -o-transition: background 0.5s linear;
        transition: background 0.5s linear;
}
.sortable li>div:hover { background-color: #6d5eac; color:#fff;  }
.sortable_info > div{
	padding-bottom:10px;
}
.sortable_info{
	padding-top:15px;
}

