/* CSS Document */
#product_relation { list-style-type: none; margin: 0; padding: 0; }
#product_relation li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; height:40px; cursor:ns-resize }

.select_menu label{
	display: block;
	max-width: 100px;
}
