@charset "utf-8";
/* CSS Document */

.placeholder {
	/*-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: -1px;*/
	
    border: 0px dashed #333;
	border-radius: 4px;
	background-color: rgba(109,92,174,0.50);
}

.mjs-nestedSortable-error {
	background: #fbe3e4;
	border-color: transparent;
}

ol {
	margin: 0;
	padding: 0;
	padding-left: 30px;
}

ol.sortable, ol.sortable ol {
	margin: 0 0 0 25px;
	padding: 0;
	list-style-type: none !important;
}

ol.sortable {
	margin: 20px 0;
}

.sortable li {
	margin: 5px 0 0 0;
	padding: 0;
}

.sortable li div  {
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-color: #D4D4D4 #D4D4D4 #BCBCBC;
	
	padding: 10px;
	margin: 0;
	
	/*
	background: #f6f6f6;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	*/
}
.sortable li div.ui-sortable-handle{
	cursor: move;
}
.sortable li.alert div{
	border:none;
}

.sortable li.mjs-nestedSortable-branch div {
	/*
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#f0ece9 100%);
	*/
}

.sortable li.mjs-nestedSortable-leaf div {
	/*
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #bcccbc 100%);
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#bcccbc 100%);
	*/
}

.sortable li.ui-sortable-helper div {
	background: white;
}


li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
	border-color: #999;
	background: #fafafa;
}

.disclose {
	cursor: pointer;
	width: 10px;
	display: none;
}

.sortable li.mjs-nestedSortable-collapsed > ol {
	display: none;
}

.sortable li.mjs-nestedSortable-branch > div > .disclose {
	display: inline-block;
}

.sortable li.mjs-nestedSortable-collapsed > div > .disclose > span:before {
	content: '+ ';
}

.sortable li.mjs-nestedSortable-expanded > div > .disclose > span:before {
	content: '- ';
}

.notice {
	color: #c33;
}

.sortable li>div:hover i{
	color:white;
}

.sortable li>div {  
		color:#000;
		-webkit-transition: background 0.5s linear;
		-moz-transition: background 0.5s linear;
		-ms-transition: background 0.5s linear;
		-o-transition: background 0.5s linear;
		transition: background 0.5s linear;
}
.sortable li>div:hover { background-color: #6d5cae; color:#fff;  }
.sortable_info > div{
	padding-bottom:10px;
}
.sortable_icon {
	font-size: 18px;
	color: #666666;
	width: 24px;
	height: 24px;
	display: block;
	margin: 0 3px;
}