/* CSS Document */

/*
	default
*/
.clear-both{
	clear: both;
}
.btn-group .btn-cons{
	margin-right: 0px;
	/*border-left:1px solid #8a7dbe;*/
}
.btn-group .btn-cons:first-child{
	/*border-left:1px solid #6d5cae;*/
}
.min-height-150{
	min-height: 150px;
	width: 100%;
}
.form-group{
	position: relative;
}
.form-group label:not(.error){
	/*
	padding-top: 8px;
	*/
	font-size: 14px;
}
/*
.form-group.required:after {
    color: #f55753;
    content: "*";
    font-family: arial;
    font-size: 20px;
    position: absolute;
    right: 12px;
    top: 6px;
}
*/
.form-group.required:before {
    color: #f55753;
    content: "*";
    font-family: arial;
    font-size: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.form-group.required .form-label{
	padding-left: 12px;
}

@media (max-width: 991px) {
	.md-text-left{
		text-align: left !important;
	}
	.md-text-right{
		text-align: right !important;
	}
	.md-pull-left{
		float: left !important;
	}
	.md-pull-right{
		float: right !important;
	}
	.md-clear-none{
		clear: none;
	}
	.breadcrumb li:first-child a{
		margin-left: 0px;
	}
}

@media (max-width: 425px) {
	.btn-cons{
		width:100%;
    	border-radius: 3px !important;
		margin-bottom: 5px;
		text-align: center;
	}
	.btn-group-fullwidth{
		display: table; width: 100%;
	}
	.btn-group-fullwidth .btn{
		display: table-cell;
	}
}
	
/*
	bootstrap select
*/
.bootstrap-select{
	border-radius: 0px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li:first-child.selected a span.check-mark{
	margin-top: 16px;
}

/*
	bootstrap modal fullscreen
*/
.modal{
	z-index:1041;
}
.modal_fullscreen.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.modal_fullscreen .modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: none;
}
.modal_fullscreen .modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.modal_fullscreen .modal-body {
  position: absolute;
  top: 60px;
  bottom: 60px;
  width: 100%;
  overflow: auto;
}
.modal_fullscreen .modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: #f1f3f5;
} 
.modal_fullscreen .modal-dialog {
  width: 95%;
  height: 95%;
  padding: 0;
  margin:10px auto;
}
.modal_fullscreen .modal-content {
  height: 100%;
}
.modal_fullscreen .modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: #f1f3f5;
  border-radius:6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/*
	bootstrap xl
*/
@media (min-width: 1200px) and (max-width: 1599px) {
    .hidden-lg {
        display: none !important;
    }
}
.visible-xl-block,
.visible-xl-inline,
.visible-xl-inline-block,
.visible-xl{
    display: none !important;
}
@media (min-width: 1600px) {
    .container {
        width: 1570px;
    }
    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        float: left;
    }
    .col-xl-12 {
        width: 100%;
    }
    .col-xl-11 {
        width: 91.66666667%;
    }
    .col-xl-10 {
        width: 83.33333333%;
    }
    .col-xl-9 {
        width: 75%;
    }
    .col-xl-8 {
        width: 66.66666667%;
    }
    .col-xl-7 {
        width: 58.33333333%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-5 {
        width: 41.66666667%;
    }
    .col-xl-4 {
        width: 33.33333333%;
    }
    .col-xl-3 {
        width: 25%;
    }
    .col-xl-2 {
        width: 16.66666667%;
    }
    .col-xl-1 {
        width: 8.33333333%;
    }
    .col-xl-pull-12 {
        right: 100%;
    }
    .col-xl-pull-11 {
        right: 91.66666667%;
    }
    .col-xl-pull-10 {
        right: 83.33333333%;
    }
    .col-xl-pull-9 {
        right: 75%;
	}
    .col-xl-pull-8 {
        right: 66.66666667%;
    }
    .col-xl-pull-7 {
        right: 58.33333333%;
    }
    .col-xl-pull-6 {
        right: 50%;
    }
    .col-xl-pull-5 {
        right: 41.66666667%;
    }
    .col-xl-pull-4 {
        right: 33.33333333%;
    }
    .col-xl-pull-3 {
        right: 25%;
    }
    .col-xl-pull-2 {
        right: 16.66666667%;
    }
    .col-xl-pull-1 {
        right: 8.33333333%;
    }
    .col-xl-pull-0 {
        right: auto;
    }
    .col-xl-push-12 {
        left: 100%;
    }
    .col-xl-push-11 {
        left: 91.66666667%;
    }
    .col-xl-push-10 {
        left: 83.33333333%;
    }
    .col-xl-push-9 {
        left: 75%;
    }
    .col-xl-push-8 {
        left: 66.66666667%;
    }
    .col-xl-push-7 {
        left: 58.33333333%;
    }
    .col-xl-push-6 {
        left: 50%;
    }
    .col-xl-push-5 {
        left: 41.66666667%;
    }
    .col-xl-push-4 {
        left: 33.33333333%;
    }
    .col-xl-push-3 {
        left: 25%;
    }
    .col-xl-push-2 {
        left: 16.66666667%;
    }
    .col-xl-push-1 {
        left: 8.33333333%;
    }
    .col-xl-push-0 {
        left: auto;
    }
    .col-xl-offset-12 {
        margin-left: 100%;
    }
    .col-xl-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-xl-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-xl-offset-9 {
        margin-left: 75%;
    }
    .col-xl-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-xl-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-xl-offset-6 {
        margin-left: 50%;
    }
    .col-xl-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-xl-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-xl-offset-3 {
        margin-left: 25%;
    }
    .col-xl-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-xl-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-xl-offset-0 {
        margin-left: 0;
    }
    .visible-xl {
        display: block !important;
    }
    table.visible-xl {
        display: table;
    }
    tr.visible-xl {
        display: table-row !important;
    }
    th.visible-xl, td.visible-xl {
        display: table-cell !important;
    }
    .visible-xl-block {
        display: block !important;
    }
    .visible-xl-inline {
        display: inline !important;
    }
    .visible-xl-inline-block {
        display: inline-block !important;
    }
    .hidden-xl {
        display: none !important;
    }
	.col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9{
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
	}
}
.padding_v_10{
	padding-top: 10px;
	padding-bottom: 10px;
}

/*
	media
*/
#content_modal .file_single{
	padding:15px;
}
.media_preview{
    overflow: hidden;
    max-height: 200px;
    min-height: 200px;
}
.media_preview img, .media_btn_group{
	width:100%;
}
.media_btn_group button{
	width:100%;
}

.media_selectable .ui-selecting img { 
	border-radius:5px;
	border:5px solid #6d5cae;
}
.media_selectable .ui-selected .media_preview { 
	border-radius:5px;
	border:5px solid #6d5cae;
    margin-bottom: 4px;
}
.media_preview.ui-selectee{
	border:5px solid white;
    margin-bottom: 4px;
}
.media_selectable, .media_area{
	/*
	排版
	*/
	display: flex;
	flex-wrap: wrap;
}
.file_area{
	top: 180px; bottom: 0px; position: absolute; overflow: auto;
	width: 100%;
}
.progress-extended{
	padding: 10px;
	text-align: center;
	font-size: 15px;
	margin-top: -20px;
}
.file_name {
    overflow: hidden;
    padding-top: 10px;
	color: black;
	font-size: 12px;
}
.media_list_container .nav li a{
	font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.media_list_container .nav li.active a{
	background-color: #6d5cae;
	color: white;
}


/*
	item page toolbar
*/
.sticky_bottom {
    width: 100%;
    left: 0;
    position: fixed;
    margin: 0px auto;
    float: left;
    z-index: 700;
    display: block;
    bottom: 0;
    background-color: rgba(246, 247, 248, 0.8);
    -webkit-box-shadow: 0px -1px 3px 0px rgba(100, 100, 100, 0.5);
    -moz-box-shadow: 0px -1px 3px 0px rgba(100, 100, 100, 0.5);
    box-shadow: 0px -1px 3px 0px rgba(100, 100, 100, 0.5);
}
.sticky_bottom_stop {
    position: inherit;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.submit_saved {
    display: none;
    padding: 15px 30px 16px 30px;
}

/* user group */
ul.user_rights {
  list-style-type: none;
}
.user_rights li{
	clear:both;
}
.user_rights li .checkbox.check-success{
	padding-left: 30px;
}

/*
	Menu
*/
.page-sidebar .sidebar-menu .menu-items li.active>.icon-thumbnail, 
.page-sidebar .sidebar-menu .menu-items li.active>.icon-thumbnail i{
	color: #40D9CA;
}


@media (max-width: 1200px) {
	.media_preview{
		overflow: hidden;
		max-height: 150px;
		min-height: 150px;
	}
}

@media (max-width: 991px) {
	.media_preview{
		overflow: hidden;
		max-height: 150px;
		min-height: 150px;
	}
}

@media (max-width: 425px) {
	.media_preview{
		overflow: hidden;
		max-height: 100px;
		min-height: 100px;
	}
}

/*
商品集合 的商品
*/
.product_sortable .row .product_item {
    cursor: move;
}
.product_sortable .row .ui-sortable{
     display: flex;
     flex-wrap: wrap;
}
.product_sortable .row .close {
    position: absolute;
    top: 0px;
    right: 4px;
    z-index: 49;
    background-color: #337ab7;
    padding: 7px 10px 9px 10px;
    color: white;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}
.product_sortable .row .product_item:hover .close {
    opacity: 1;
}
.product_sortable .row .product_image {
    overflow: hidden;
    min-height: 250px;
}
.product_sortable .row .product_image img {
    width: 100%;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: move;
}
.product_sortable .row .product_name {
    padding: 5px 0;
    overflow: hidden;
    height: 54px;
    font-size: 15px;
}
